{% extends "layout/base.html" %}
{% load static %}
{% block title %} Register Page {% endblock title %}
{% block content %}

<div class="mt-5">
    <div class="card mx-auto" style="width:32rem;">
        <div class="card-header h3 bg-secondary text-white text-center">Register</div>
        <form method="POST">
            {% csrf_token %}
            <div class="card-body">
                <div class="row justify-content-center">
                    {% comment %} <div class="col-md-6">
                        <label  class="">First Name</label>
                        {{ form.username }}
                        {% if form.errors.username %}
                            <label for="" class="text-danger">{{ form.errors.first_name }}</label>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <label  class="">Last Name</label>
                        {{ form.username }}
                        {% if form.errors.username %}
                            <label for="" class="text-danger">{{ form.errors.Last_name }}</label>
                        {% endif %}
                    </div> {% endcomment %}
                    <div class="col-md-6">
                        <label  class="">Username</label>
                        {{ form.username }}
                        {% if form.errors.username %}
                            <label for="" class="text-danger">{{ form.errors.username }}</label>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <label  class="">Email</label>
                        {{ form.email }}
                        {% if form.errors.email %}
                            <label for="" class="text-danger">{{ form.errors.email }}</label>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <label  class="">Password</label>
                        {{ form.password1 }}
                        {% if form.errors.password1 %}
                            <label for="" class="text-danger">{{ form.errors.password1 }}</label>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <label  class="">Confirm Password</label>
                        {{ form.password2 }}
                        {% if form.errors.password2 %}
                            <label for="" class="text-danger">{{ form.errors.password2 }}</label>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-secondary w-100">Register</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}