{% extends "layout/base.html" %}
{% load static %}
{% block content %}

<div class="py-2 bg-success">
    <div class="container-lg">
        <a href="{% url "home" %}" class="text-decoration-none fw-bold text-white">Home /</a> 
        <a href="{% url "collections" %}" class="text-decoration-none fw-bold text-white">Collections /</a>
        <a href="{% url "collectionsview" category.slug %}" class="text-decoration-none fw-bold text-white">{{ category.name }}</a>
    </div>
</div>


<div class="container-lg">
    <div class="row">
        <div class="col-md-12">
            <h1 class="">{{ category.name }}</h1>
            <hr>
            <div class="row justify-content-center text-center">
                {% for item in products %}
                <div class="col-sm-6 col-md-3">
                    <div class="card products">
                        <a href="{% url "productview" item.category.slug item.slug %}" class="text-decoration-none text-dark">
                            <div class="card-body">
                                <div class="category-image">
                                    <img src="{{ item.prod_imageURL }}" alt="" class="img-fluid">
                                </div>
                                <h4 class="text-center text-success">{{ item.name }}</h4>
                                <span class="text-center text-success fw-bold float-start">$ <s>{{ item.original_price | stringformat:'d' }}</s></span>
                                <span class="text-center text-success pb-2 fw-bold float-end">$ {{ item.selling_price | stringformat:'d' }}</span>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}