{% extends "layout/base.html" %}
{% load static %}
{% block title %} Collection Page {% endblock title %}
{% block content %}

<div class="py-2 bg-success">
    <div class="container-lg">
        <a href="{% url "home" %}" class="text-decoration-none fw-bold text-white">Home /</a> 
        <a href="{% url "collections" %}" class="text-decoration-none fw-bold text-white">Collections</a>
    </div>
</div>

<div class="container-lg pb-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="">Collections</h1>
            <hr>
            <div class="row g-3 justify-content-centr text-center">
                {% for item in category %}
                <div class="col-sm-6 col-md-3">
                    <div class="card shadow collections">
                        <a href="{% url "collectionsview" item.slug %}" class="text-decoration-none text-dark">
                            <div class="card-body">
                                <div class="category-image">
                                    <img src="{{ item.imageURL }}" alt="" class="img-fluid">
                                </div>
                                <h4 class="text-center text-success">{{ item.name }}</h4>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}